.footer {
    height: 10vh;
}

.block-text {
    bottom: 2vh;
    left: 1.8vw;
    position: fixed;
    z-index: 3;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.block {
    height: 2.1vh;
    width: 1.1vw;
    left: 1.2vw;
    bottom: 4.3vh;
    background-color: #000000;
    position: fixed;
    z-index: 2;
}

.circle {
    height: 14.5vh;
    width: 7vw;
    left: -4vw;
    bottom: -7vh;
    position: fixed;
    background-color: #dfdfdf;
    border-radius: 50%;
    z-index: 1;
}