@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: GOTHICB;
}

html {
  overflow-x: hidden;
}

.body {
  margin: 0px;
  overflow: hidden;
  cursor: wait;
}

/* *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html {
  font-size: calc(100vw / 1728 * 10);
} */

/* body {
  font-size: clamp(16px, 1.6rem, 1.6rem);
  font-family: "Matter Regular", sans-serif;

  font-style: normal;
  font-variation-settings: "ital" 0, "wght" 400;
  background-color: white;
  color: black;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  letter-spacing: -0.03em;
} */

  /* h1 {
    font-size: 16rem;
    font-weight: 400;
    letter-spacing: -0.03em;
  } */

  .splide {
    padding:0 !important

  }

  .splide__slide {

  }

  .splide__list {
    /* height: 25vh !important; */
  }

  .splide__pagination {
    top: -30.5vh !important;
    left: -44.5vw !important;
    /* bottom: 1vh !important; */
    /* margin: 0 !important; */
    /* justify-content: left !important;
    padding: 0 !important; */
  }

  .splide__pagination__page {
    background: rgba(39,25,25,.3) !important;
    margin: 0.1vw !important;
    width: 1vw !important;
    height: 0.7vh !important;
    opacity: 1 !important;
    border-radius: 0% !important;

  }

  .splide__pagination__page:before {
    /* transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg) !important; */
  }

  .splide__pagination__page:after {
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg) !important;
  }


  .splide__pagination__page:hover {
    background: white !important;
    transform: scale(1) !important;
  }

  .splide__pagination__page.is-active {
    background: black !important;
    transform: scale(1) !important;
    opacity: 1 !important;
  }
  